<!-- app.component.html -->

<header class="header">
  <div class="headline">
       <h1 style="font-family: Roboto;">Quem somos:</h1>
       <h2 style="font-family: Roboto;" >SegTrab Digital</h2>
       <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
         officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
         temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
       <a href="#" class="contact-btn">Contrate Agora</a>
  </div>
  <div class="img-headline">
      <img [src]="myimage5" style="max-width: 200%;">
  </div>
</header>







