<header class="header">
  <div class="headline">
       <h1 style="font-family: Roboto;">Entre em contato conosco</h1>
       <h2 style="font-family: Roboto;" >SegTrab Digital</h2>
       <p style="font-family: Roboto;">Email: contato2empresa.com</p>
       <p style="font-family: Roboto;">Telefone: (11) 1234-5678</p>
       <p style="font-family: Roboto;">Endereço: Rua da Empresa, 123, Cidade</p>
       <a href="#" class="contact-btn">Contrate Agora</a>
  </div>
  <div class="img-headline">
      <img [src]="myimage" style="max-width: 100%;">
  </div>
</header>
