<!-- app.component.html -->
<nav class="navbar">
     <div class="logo">
        <h1>SegTrab Digital</h1>
     </div>
     <div class="menu">
       <input type="search" [formControl]="input"
       class="input_rxjs" placeholder="Pesquisa">
       <a routerLink="/">Home</a>
       <a routerLink="/empresa">Empresas Parceiras</a>
       <!-- <a routerLink="/sobre">Sobre</a> -->
       <a routerLink="/colaborador">Colaborador</a>
       <a id="botao" routerLink="/contato">Contato</a>
      </div>
    </nav>


<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <h1>SegTrabDigital</h1>
  <p style="font-family: Roboto;">Nós iremos cuidar da sua segurança</p>
  <p style="font-family: Roboto;">&copy; 2023 SegTrabDigital</p>
</footer>

