<header class="header">
  <div class="headline">
       <h1 style="font-family: Roboto;">você achou a melhor</h1>
       <h2 style="font-family: Roboto;" >SegTrab Digital</h2>
       <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
         officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
         temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
       <a href="#" class="contact-btn">Contrate Agora</a>
  </div>
  <div class="img-headline">
      <img [src]="myimage" style="max-width: 100%;">
  </div>
</header>
<section>
    <h2>O que podemos fazer pelo seu negócio?</h2>
    <div class="servicos">
      <div class="card">
        <img [src]="myimage2" (click)="navigateToColaboradores()">
        <div class="card-text">
          <h3 style="font-family: Roboto;">Palestra SegTrab</h3>
          <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
          officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
          temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
        </div>
        <div class="ocult-text">
          <h3 style="font-family: Roboto;">Outro conteúdo qualquer</h3>
          <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
          officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
          temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
        </div>

      </div>
      <div class="card">
        <img [src]="myimage3">
        <div class="card-text">
          <h3 style="font-family: Roboto;">Importância dos EPIs</h3>
          <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
          officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
          temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
        </div>
        <div class="ocult-text">
          <h3 style="font-family: Roboto;">Outro conteúdo qualquer</h3>
          <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
          officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
          temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
        </div>
      </div>
      <div class="card">
        <img [src]="myimage4">
        <div class="card-text">
          <h3 style="font-family: Roboto;">Tecnico de Segurança</h3>
          <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
            officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
            temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
        </div>
        <div class="ocult-text">
          <h3 style="font-family: Roboto;">Outro conteúdo qualquer</h3>
          <p style="font-family: Roboto;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, aperiam,
            officiis ex sed perspiciatis non fuga sequi porro eveniet facilis suscipit ]
            temporibus ut ea necessitatibus labore harum iusto, culpa et.</p>
        </div>
      </div>
    </div>
</section>


